* {
  font-family: sans-serif;
  font-weight: bold;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --middle-blue: #82c0cc;
  --pacific-blue: #489fb5;
  --ming: #16697a;
  --isabelline: #ede7e3;
  --rose-madder: #e71d36;
  --sap-green: #478036;
  --kelly-green: #48c223;
  --blush: #db5375;
}

.container {
  margin-top: 10px;
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
  gap: 10px 30px;
}

.program-container {
  display: flex;
  align-items: center;
  margin-left: 10px;
  margin-top: 8px;
  background-color: var(--ming);
  border-radius: 20px;
  width: 400px;
}

.logo {
  border: 2px solid var(--pacific-blue);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  object-fit: contain;
  object-position: center;
  z-index: 2;
}

.logo-placeholder {
  position: relative;
  left: -253px;
  z-index: 1;
}

.program {
  margin-left: 10px;
  color: var(--isabelline);
  width: 65px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}

.button-container {
  position: relative;
}

.btn {
  position: relative;
  left: 130px;
  background-color: var(--isabelline);
  border: none;
  padding: 8px;
  border-radius: 10px;
  text-transform: uppercase;
  color: var(--ming);
  font-weight: bold;
}

.btn:hover {
  background-color: white;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}

.btn-container {
  position: sticky;
  display: flex;
  justify-content: center;
  margin-left: 60px;
  margin-top: 20px;
  margin-bottom: 30px;
}

.stop-btn {
  background-color: var(--ming);
  border: none;
  padding: 10px 30px;
  border-radius: 25px;
  color: var(--isabelline);
  font-weight: bold;
  font-size: 15px;
  margin-right: 15px;
}

.stop-btn:hover {
  background-color: var(--pacific-blue);
  transition: 0.2s ease-in-out;
  cursor: pointer;
}

.volume-add-btn {
  background-color: var(--sap-green);
  border: none;
  padding: 10px 25px;
  border-radius: 25px;
  font-size: 15px;
  color: var(--isabelline);
  margin-right: 15px;
}

.volume-add-btn:hover {
  background-color: var(--kelly-green);
  transition: 0.2s ease-in-out;
  cursor: pointer;
}

.volume-min-btn {
  background-color: var(--blush);
  border: none;
  padding: 10px 25px;
  border-radius: 25px;
  font-size: 15px;
  color: var(--isabelline);
}

.volume-min-btn:hover {
  background-color: var(--rose-madder);
  transition: 0.2s ease-in-out;
  cursor: pointer;
}

@media only screen and (max-width: 1300px) {
  .container {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
  }

  .program-container {
    width: 400px;
  }

  .btn {
    left: 80px;
  }

  .btn-container {
    margin-right: 60px;
  }

  .logo {
    z-index: 2;
  }

  .logo-placeholder {
    left: -252px;
    z-index: 1;
  }
}

@media only screen and (max-width: 765px) {
  .container {
    display: grid;
    grid-template-columns: auto;
    align-items: center;
  }

  .program-container {
    width: 400px;
  }

  .btn {
    left: 80px;
  }

  .btn-container {
    margin-right: 60px;
  }

  .logo {
    z-index: 2;
  }

  .logo-placeholder {
    left: -252px;
    z-index: 1;
  }
}
