<div class="program-container">
  <img src="{}" class="logo" />
  <p class="program">{}</p>
  <div class="button-container">
    <button onclick="handle_channel_click('{}')" class="btn">Choose</button>
  </div>
  <img src="{}" class="logo logo-placeholder" />
</div>
